name: Python CI Pipeline

on:
  push: # triggers when these actions occur in the main branch
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # step 1
      - name: Checkout code # giving it access to the repo 
        uses: actions/checkout@v3
    # step 2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
    # step 3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
    # step 4
      - name: Run tests
        run: |
          export PYTHONPATH=$PWD
          pytest --maxfail=5 --disable-warnings

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: success()  # Only run if tests pass

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/python-ci-demo:latest

